/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 avr. 2014, 09:14:23
    Author     : olivierserre
*/
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

[class*="col-"].gris {
    background-color: grey;
    border:solid 1px white;
    padding-top: 15px;
    padding-bottom: 15px;
}

.temoignage p{
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large;
}
